.dropdown-select-hidden {
    display:none;
}
.dropdown-select-text {
    cursor:pointer;
}
.dropdown-select-options {
    max-height:300px;
    overflow-y:auto;
}
.dropdown-select-options label {
    display:block;
    margin-bottom:3px;
}
.dropdown-select-option-text {
    margin-left:3px;
}